
<script>
    function showmenu() 
    { 
        document.querySelector('.menubar').style.scale = "1"
     };

    function hidemenu() 
    { 
        document.querySelector('.menubar').style.scale = "0"
     };
   
    document.querySelector(".acnt").addEventListener('mouseover',  showmenu)

    document.querySelector("header").addEventListener('mouseleave',  hidemenu)
</script>
</body>
</html>