<%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>
        <div class="home_container">
            <div class="blog_cont">
                <img src="./images/img2.png" alt="">
                <p style="margin-top: 10px;">
                    Hi, I'm Girish Rajora from New Delhi, India, a passionate graphic designer with over 2 years of
                    experience. Proficient in industry-standard tools like Photoshop, Illustrator, After Effects, and
                    more.</p>

                <p style="margin-top: 10px;">With over 2 years of design experience, I'm also delving into Web
                    Development, exploring HTML, CSS, Javascript, Node JS, MongoDB, and WordPress.</p>

                <p style="margin-top: 10px;">Actively seeking opportunities to contribute my design expertise and
                    development skills to innovative projects. Open to freelancing opportunities and internships in the
                    dynamic world of design. Let's connect and explore the possibilities</p>


                <div class="social_btns">
                    <a href="https://github.com/developbygirish" target="_blank">
                        <div class="btn">
                            <i class="fa-brands fa-github fa-xl"></i>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/girishrajora.in/" target="_blank">
                        <div class="btn">
                            <i class="fa-brands fa-instagram fa-xl"></i>
                        </div>
                    </a>
                    <a href="https://twitter.com/girishrajora_IN" target="_blank">
                        <div class="btn">
                            <i class="fa-brands fa-x-twitter fa-xl"></i>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/girish-rajora-96a831239/" target="_blank">
                        <div class="btn">
                            <i class="fa-brands fa-linkedin fa-xl"></i>
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <%- include('./partials/header.ejs') %>